*.opensdf
*.sdf
*.suo
*.user
bin/build
Balloon_Race_3D/*.user
Balloon_Race_3D/*.suo
build-Debug
*.obj
*.pdb
*.tlog
*.obj
*.log
*.tlog
*.idb
*.lastbuildstate
build-Debug/Balloon_Race_3D.tlog/Balloon_Race_3D.lastbuildstate
*.ilk
*.lastbuildstate
build-Debug/Balloon_Race_3D.tlog/Balloon_Race_3D.lastbuildstate
*.exe
External/
*.dll
*.ttf
Thumbs.db

gras.jpg
desert.png
